@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
* {
    box-sizing: border-box;
}

body {
    font-family: "Prata", sans-serif;
    margin: 0;
    background-size: cover;
    min-height: 100vh;
    display: flex;
}
aside {
    background-color: #000;
    width: 300px;
    height: 100vh;
    display: flex;
    padding: 2rem;
    flex-direction: column;
    justify-content: space-between;
}
aside ul {
    padding: 0;
    list-style-type: none;
}
aside a {
    color: white;
    text-decoration: none;
    margin: 0.5rem;
    display: inline-block;
    text-decoration: none;
    font-size: 1.2rem;
}
.special {
    font-size: 1.5rem;
    background-color: #feab51;
    color: #000;
    display: block;
    text-align: center;
    padding: 0.8rem;
}
main {
    background: url("bg.png");
    width: 100%;
    height: 100vh;
    color: #fff;
    font-size: 2.5rem;
    padding: 3rem;
    background-position: bottom center;
}
main h1 {
    margin: 0;
}
main h3 {
    margin: 0;
    color: #feab51;
}
@media screen and (max-width: 768px) {
    body {
        flex-direction: column-reverse;
        background-position: bottom center;
    }
    main {
        min-height: 60vh;
        justify-content: space-between;
        font-size: 1.5rem;
    }
    aside {
        height: auto;
        width: 100%;
    }
    aside ul {
        display: flex;
        flex-wrap: wrap;
    }
    .special {
        display: none;
    }
}
